@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("./src/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("./src/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("./src/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: SFProText;
  src: url("./src/fonts/SFProText/SFProText-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  color: #2d2d2d;
  overflow: auto;
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}

header .header-logo {
  max-height: 75px;
}

header .login {
  color: #811811;
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 12px;
}

header .login-label {
  display: flex;
  gap: 12px;
  align-items: center;
}

header .login-label-text {
  color: #811811;
  font-size: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 142px);
  overflow: hidden;
}

.content-title {
  margin-top: 4px;
  color: var(--333333, #030303);
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.41px;
}

.sub-title {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  color: var(--333333, #030303);
}

.answer__single_choice,
.answer__multiple_choice {
  margin-top: 20px;
  flex-grow: 1;
  height: 100%;
}

.answer__animation .submit-btn {
  margin-top: -220px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content:has(.submit-btn) {
  height: 100%;
  margin-bottom: 80px;
  overflow: hidden;
}

.content:has(.submit-btn.hidden) {
  margin-bottom: 0;
}

.wrapper::after {
  position: absolute;
  content: "";
  background-image: url("src/assets/icons/special-border.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.page_content {
  display: flex;
  flex-direction: column;
}

.question-block__wrapper {
  margin-bottom: 48px;
}

.question-block__question {
  margin-bottom: 12px;
}

.answer__coise {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
}

.answer__choise-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 27px 16px;
  width: 100%;
  height: 96px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.55);
  background: radial-gradient(
      70.12% 70.12% at 37.92% -17.08%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      62.64% 62.64% at 87.5% 95.83%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #d7f2ff;
  box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.2) inset;
  color: #1a1a1a;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  flex-shrink: 0;
  gap: 30px;
}

.answer__multiple_choice .answer__choise-item::after {
  content: "";
  width: 26px;
  height: 26px;
  margin-left: auto;
  background-image: url("./assets/checkbox-unchecked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-color: transparent;
  flex-shrink: 0;
}

.answer__multiple_choice .answer__choise-item.__selected-choise::after {
  background-image: url("./assets/checkbox-unchecked.svg"), url("./assets/checkbox-checked.svg");
  background-size: 26px 26px, 15px 14px;
}

/* .answer__multiple_choice {
  margin-bottom: 80px;
} */

.answer__container.answer__checkbox {
  margin: 0;
  padding: 0;
}

.__selected-choise {
  background: radial-gradient(
      70.12% 70.12% at 37.92% -17.08%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(
      62.64% 62.64% at 87.5% 95.83%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #78d2ff;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #474747;
  background: var(--bg-white, #fff);
  margin-right: 8px;
  margin-left: -5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  border-color: #811811;
  background-color: #811811;
  background-position: center;
  background-size: 20px 20px;
  background-image: url("./src/assets/icons/check-mark.svg");
}

input[type="checkbox"] + label:hover::before {
  border: 1px solid #811811;
}

.answer__input {
  border: 0;
  border-bottom: 2px solid #811811;
  border-radius: 0;
  padding: 8px 12px;
  width: 300px;
  font-family: inherit;
  font-size: inherit;
}

.answer__input:focus {
  outline: none;
}

.submit__answers {
  cursor: pointer;
  font-size: 40px;
  align-self: center;
}

.submit__answers:hover {
  color: #811811;
}

.submit-btn {
  font-family: "Roboto", sans-serif;
  margin: 10px 20px 20px;
  width: calc(100% - 40px);
  cursor: pointer;
  height: 50px;
  border-radius: 42px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.035px;
  border: none;
  background-image: url("./images/button-bg.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.2) inset;
  position: fixed;
  z-index: 10;
  flex-shrink: 0;
  bottom: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 34px;
  height: 142px;
}

.footer-text {
  color: #000;
  font-size: 20px;
}

footer .footer-logo {
  max-height: 60px;
}

.value_span a.object_link {
  color: #2d2d2d;
}

.value_span a.object_link:hover {
  color: #811811;
}

.close-chooser-btn,
.close-chooser-btn:hover,
.close-chooser-btn:active {
  color: #811811;
  border-color: #811811;
}

#initial-card {
  height: 100vh;
  background: #d7f2ff;
  position: relative;
}

#initial-card::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ffffff;
  border-radius: 0 0 30px 30px;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  box-sizing: border-box;
}

.initial-card-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.init-page-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: auto;
  margin-top: 80px;
}

.init-page-logo {
  width: 40px;
  height: 40px;
  background-image: url("./assets/logo-image.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.init-page-app-title {
  color: #030303;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.41px;
}

.init-image-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 284px;
  height: 349px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 142px;
  background-image: radial-gradient(#d9f3ff 86%, #f2fdff 98%, #d7f2ff 100%);
}

.init-image {
  width: 210px;
  height: 274px;
  background-image: url("./assets/init.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  padding-top: 38px;
}

.init-image-text {
  max-width: 200px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

#init-btn {
  font-family: "Roboto", sans-serif;
  width: calc(100% - 40px);
  cursor: pointer;
  margin: 10px 20px 20px;
  height: 50px;
  border-radius: 42px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.035px;
  border: none;
  background-image: url("./images/button-bg.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 6px 0px rgba(255, 255, 255, 0.2) inset;
}

.animation__podcast,
.animation__no_fear,
.animation__forecasts,
.animation__tracking,
.animation__turbulence {
  flex-grow: 1;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.anim-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  overflow: hidden;
  width: 100vw;
}

.animation__podcast .anim-wrapper {
  top: -65px;
  width: calc(100vw - 4px);
}

.animation__no_fear .anim-wrapper {
  top: -60px;
  width: calc(100vw - 6px);
}

.animation__tracking .anim-wrapper {
  top: -130px;
}

.animation__forecasts .anim-wrapper {
  width: calc(100vw - 10px);
  top: -58px;
}

.animation__turbulence .anim-wrapper {
  width: calc(100vw + 26px);
  top: -90px;
}

dotlottie-player[class="lottie-element"] {
  width: calc(100vw - 6px) !important;
  flex-grow: 1;
  position: absolute;
  /* top: -70px; */
}

.animation__podcast dotlottie-player[class="lottie-element"] {
  /* top: -60px; */
}

.animation__no_fear dotlottie-player[class="lottie-element"] {
  /* top: -50px; */
}

.plane-progress-line {
  height: 60px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.back-btn {
  display: block;
  width: 11px;
  height: 20px;
  background-image: url("./assets/back-btn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px 20px;
  background-color: transparent;
  border: none;
}

.plane-progress-line-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
}

.progress-line-node {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(120, 210, 255, 0.3);
}

.big-node {
  width: 10px;
  height: 10px;
}

.visited-node {
  background-color: rgba(120, 210, 255, 1) !important;
}

.first-node {
  position: absolute !important;
  z-index: 10;
  background-color: #78d2ff !important;
}

.progress-line-connection {
  height: 2px;
  flex-grow: 1;
  background-color: transparent;
  border-radius: 1px;
  transition: 1s ease all;
}

.show-connection {
  background-color: rgba(120, 210, 255, 1);
}

.plane-node {
  position: relative;
  transition: 1s ease all;
  transform: translate(0px, 2px);
}

.plane-node::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 28px;
  background-image: url("./assets/plane.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 27px 28px;
  transform: translate(-9px, -11px);
  background-color: white;
}

.agreement-text-wrapper {
  margin: 0 20px 10px;
  text-align: center;
}

.agreement-text {
  font-family: "SFProText", sans-serif;
  color: rgba(133, 144, 157, 0.8);
  font-size: 11px;
  font-weight: 400;
}

.agreement-link {
  text-decoration: none;
  font-family: "SFProText", sans-serif;
  color: rgba(133, 144, 157, 0.8);
  font-size: 11px;
  font-weight: 400;
  text-decoration-line: underline;
}

.answer__single_choice .answer__coise {
  margin-bottom: 20px;
}

.plane {
  position: absolute;
  top: 0;
  left: 0;
}
